html {
  height: 90%;
}

body {
  height: 100%;
  text-align: center;
  background: url("../images/background.jpg");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#container {
  width: 70%;
  height: 95%;
  background-color: #fff17a;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 72px;
  color: blue;
  box-sizing: border-box;
  margin: 2.5% auto;
  padding-top: 1%;
}

#inner-container {
  position: relative;
  top: 1%;
}

.question {
  font-size: 64px;
}

.amswers {
  width: 100%;
}

iframe {
  height: 200px;
}

h1 {
  font-size: 80px;
  color: purple;
}

h2 {
  margin: 0 1%;
}

button {
  display: block;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

#start-btn {
  margin-top: 10%;
  background: orange;
  border: 2px solid blue;
}

#button:hover {
  background: pink;
  border: 2px solid blue;
}