* {
  box-sizing: border-box;
}

body {
  height: 100%;
  text-align: center;
  background: url("../images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: #fff17a;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 72px;
  color: blue;
  text-align: center;
  margin-top: 1%;
  padding-top: 2%;
  height: 700px;
}

.question {
  font-size: 64px;
}

.amswers {
  width: 100%;
}

#button {
  display: block;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

#start-btn {
  margin-top: 10%;
  background: pink;
  border: 2px solid blue;
}

#button:hover {
  background: pink;
  border: 2px solid blue;
}